.top-links {
  position: absolute;
  top: 0px;
  width: 100%;
  left: 0px;
}

.bottom-links {
  position: absolute;
  bottom: 20px;
  width: 100%;
  left: 0px;
}

.navigation {
  border-right: 5px solid #13234f;
}

nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 0px;
  margin-bottom: 5px;
  display: block;
  background-color: #eee;
}

nav a:visited, a:link {
  color: #607D8B;
}

nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}

nav a.active {
  color: #f6feff;
  background-color: #5e66dc;
}
