/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

html, body, .container {
  height: 100%;
}

.container {
  display: table;
  width: 100%;
  margin-top: 0px;
  padding: 0px 0 0 0; /*set left/right padding according to needs*/
  box-sizing: border-box;
  height: 100%;
}

.row {
  height: 100%;
  display: table-row;
}

.row .no-float {
  display: table-cell;
  float: none;
  padding-left: 0px;
}

[class*='L-'] {
  padding: 6px;
  margin: 6px;
  border: 2px solid ;
}

.L-0 {
  border-color: blue;
}

.L-1 {
  border-color: red;
}

.L-2 {
  border-color: green;
}

.L-3 {
  border-color: orange;
}

.L-4 {
  border-color: magenta;
}
